.question {
    background: #8435DE;
    padding: 0 var(--big-padding) var(--big-padding);
    border-radius: 1rem;
    margin-top: 2rem;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.logo-icon {
    position: relative;
    top: -2rem;
    margin: 0 auto;
    background: #8435DE;
    padding: 2rem;
    text-align: center;
    border-radius: 50%;
    aspect-ratio: 1;
    margin-bottom: -4rem;
    font-weight: bold;
    font-size: 1.2em;
}
.answers {
    margin-top: 1rem;
    text-align: center;
}
.answers h2 {
    margin-bottom: 1rem;
}
@media screen and (min-width: 600px) {
    .answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .answers h2 {
        grid-column: span 2;
    }
}
.answer-btn {
    padding: var(--big-padding);
    border: none;
    background: #3C0E70;
    border-radius: .5rem;
    font: inherit;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    /* align-self: center; */
}

.correct {
    background-color: #2ECC71;
    color: #002400;
}

.incorrect {
    background-color: #FF6B6B;
    color: #240000;
}
  
.restart-btn {
    padding: 1rem 2rem;
    border: none;
    background: #460776;
    border-radius: .5rem;
    font: inherit;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    grid-column: span 2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.restart-btn img {
    height: 32px;
    aspect-ratio: 1;
}